body {
   width:300px;
   overflow:auto;
}

ul {
	list-style-type: none;
	padding: 0;
}

.img {
	width:60px;
	height:60px;
	background-size:cover;
	display:inline-block;
	float:left;
}

.form-items {
	display:inline-block;
}

.form-submit {
	float:right;
}